<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" routerLink="annonce"> annonce </a>
    </li>
    <li *ngIf="!user" class="nav-item">
       <a class="nav-link active" routerLink="connexion"> connexion </a> 
    </li> 
    <li *ngIf="!user" class="nav-item">
        <a class="nav-link active" routerLink="inscription"> inscription </a> 
    </li>
    <li *ngIf="user.role.id == 1"class="nav-item">
        <a class="nav-link active" routerLink="categorie"> catégorie </a> 
    </li>
    <li *ngIf="user.role.id == 1" class="nav-item">
        <a class="nav-link active" routerLink="utilisateur"> utilisateur </a> 
    </li>
    <li *ngIf="user" class="nav-item">
        <a class="nav-link active" routerLink="perso"> page de {{user.username}}</a> 
    </li>
    <li *ngIf="user.role.id == 1" class="nav-item">
        <a class="nav-link active" routerLink="annonce_invalid"> page de validation des annonces</a> 
    </li>
    <!--<li class="nav-item">
        <a (click)="exportAnnonce()" class="nav-link active"> exporter des annonces </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active"> exporter des utilisateurs </a> 
    </li>-->
    <li *ngIf="user" class="nav-item">
        <a  (click)="logout()" class="nav-link active" routerLink=#> deconnexion </a> 
    </li>
    
</ul>

<!--<form  (ngSubmit)="logout()"><input type="submit" value="deconnexion"></form>   -->
<!--(click)="exportUtilisateur()" -->